PORT=4000
MONGODB_URI=mongodb://localhost:27017/kyc-flow
JWT_SECRET=kyc-flow-super-secret-jwt-key-2026-development-mvp
CLIENT_URL=http://localhost:5173
UPLOAD_DIR=./uploads
NODE_ENV=development
USE_MEMORY_DB=true
